.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.card {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 49.5%;
  border-radius: 50px;
  border: 3px solid #a75110;
  margin-bottom: 1%;
  background: linear-gradient(
    180deg,
    rgba(253, 221, 149, 1) 0%,
    rgba(229, 196, 153, 1) 100%
  );
  position: relative;
}

.card-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 25px;
  top: 20px;
}

.rank {
  position: absolute;
  color: #b86616;
  font-weight: bold;
  font-size: 20px;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #191919;
  border-radius: 35px;
  margin-right: 35px;
  width: 198px;
  height: 157px;
}

.card-img-roobet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #222546;
  border-radius: 35px;
  margin-right: 35px;
  width: 198px;
  height: 157px;
}

.card-img > .card-logo {
  margin-bottom: 15px;
}

.card-img-roobet > .card-logo {
  margin-bottom: 15px;
}

.card-logo {
  max-width: 150px;
}

.amount {
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.free {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.card-title {
  color: #211212;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.card-link {
  margin-bottom: 8px;
}

.card-link-url {
  text-decoration: none;
  color: #b66316;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.claim-button {
  font-family: "proxima", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background: linear-gradient(
    90deg,
    rgba(76, 65, 50, 1) 0%,
    rgba(58, 49, 37, 1) 100%
  );
}

.claim-button-roobet {
    font-family: "proxima", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background-color: #222546;
}

.info-button {
  cursor: pointer;
  margin: 0 5px;
}

.long-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.long-card {
  display: flex;
  align-items: center;
  padding: 13px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 1%;
  background: linear-gradient(
    180deg,
    rgba(253, 221, 149, 1) 0%,
    rgba(229, 196, 153, 1) 100%
  );
}

.long-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #191919;
  width: 146px;
  height: 56px;
  border-radius: 35px;
  margin-right: 35px;
  padding: 10px;
}

.long-card-img > .card-logo {
  width: 120px;
  height: auto;
}

.long-card-claim-button {
  font-family: "proxima", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background: #f52d40;
}

.card-details-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.card-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.number {
  text-align: center;
}

.card-numbers-top-text {
  color: #211212;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.card-numbers-bottom-text {
  text-decoration: none;
  color: #b66316;
  font-size: 16px;
}

@media (max-width: 1235px) {
  .card {
    width: 100%;
  }

  .card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin: 0 15px 0 0;
  }

  .card-img > .card-logo {
    width: 50px;
    height: auto;
  }

  .amount {
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

  .free {
    color: white;
    font-weight: bold;
    font-size: 10px;
  }

  .long-cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .long-card {
    display: flex;
    flex-direction: column;
    width: 49.5%;
    padding: 20px;
  }

  .long-card-img {
    margin: 0 0 10px 0;
  }

  .card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-link {
    margin-bottom: 0;
  }

  .card-numbers {
    width: 100%;
  }

  .number {
    margin: 10px 0;
  }

  .card-numbers-top-text {
    margin-bottom: 0;
  }

  .card-numbers-bottom-text {
    margin: 0px 10px 10px 10px;
  }
}

@media (max-width: 650px) {
  .card-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-link {
    margin-bottom: 8px;
  }

  .claim-button {
    padding: 8px 14px;
    font-size: 12px;
  }

  .long-card {
    width: 100%;
  }
}
