.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  padding: 13.5px;
  width: 49.5%;
  border-radius: 50px;
  border: 3px solid #a75110;
  margin-top: 100px;
  margin-bottom: 1%;
  background: linear-gradient(
    180deg,
    rgba(253, 221, 149, 1) 0%,
    rgba(229, 196, 153, 1) 100%
  );
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 100%;
  border-radius: 35px;
  margin-right: 35px;
  background-color: #cda366;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-title {
  color: #211212;
  font-size: 20px;
  font-weight: bold;
  margin: 0 14px 5px 0;
}

.card-link {
  margin-bottom: 20px;
}

.card-link-url {
  text-decoration: none;
  color: #b66316;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.enter-giveaway-button {
  font-family: "proxima", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background: #a85512;
}

.info-button {
  cursor: pointer;
  margin: 0 5px;
}

.countdown {
  font-family: "proxima", sans-serif;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 100px;
  padding: 10px 35px;
  color: white;
  margin: 10px 8px 0 0;
  background: #cda366;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

.long-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.long-card {
  display: flex;
  align-items: center;
  padding: 13px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 1%;
  background: linear-gradient(
    180deg,
    rgba(253, 221, 149, 1) 0%,
    rgba(229, 196, 153, 1) 100%
  );
}

.long-card-img {
  width: 146px;
  height: 56px;
  border-radius: 35px;
  margin-right: 35px;
  background-color: #cda666;
}

.card-info {
  display: flex;
  align-items: center;
}

.long-card-buttons {
  display: flex;
  align-items: center;
}

.long-countdown {
  font-family: "proxima", sans-serif;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background: #cda366;
}

.long-card-enter-giveaway-button {
  font-family: "proxima", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background: #a75110;
}

.card-details-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.winners {
  text-align: center;
  margin-right: 14px;
}

.winners-top-text {
  color: #211212;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.winners-bottom-text {
  text-decoration: none;
  color: #b66316;
  font-size: 16px;
}

@media (max-width: 1235px) {
  .card {
    width: 100%;
  }

  .card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-img {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    margin: 0 15px 0 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .long-cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .long-card {
    display: flex;
    flex-direction: column;
    width: 49.5%;
    padding: 20px;
  }

  .long-card-img {
    margin: 0 0 10px 0;
  }

  .card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-info {
    flex-direction: column;
  }

  .card-title {
    margin: 0;
  }

  .long-card-buttons {
    flex-direction: column;
  }

  .winners {
    margin: 10px 0;
  }

  .long-card-enter-giveaway-button,
  .long-countdown {
    font-size: 12px;
    padding: 10.5px 25px;
  }
}

@media (max-width: 650px) {
  .card-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-link {
    margin-bottom: 8px;
  }

  .enter-giveaway-button {
    padding: 8px 14px;
    font-size: 12px;
  }

  .countdown {
    padding: 8px 14px;
    font-size: 12px;
  }

  .long-card {
    width: 100%;
  }

  .long-card-enter-giveaway-button,
  .long-countdown {
    padding: 10.5px 20px;
  }
}
