@font-face {
  font-family: "proxima";
  src: url(/fonts/Proxima\ Nova\ Thin.otf);
  font-weight: lighter;
}

@font-face {
  font-family: "proxima";
  src: url(/fonts/ProximaNova-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: "proxima";
  src: url(/fonts/Proxima\ Nova\ Bold.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #211212;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #211212;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4a2b2b;
}

body {
  font-family: "proxima";
  background: #211212;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  background: #211212;
  flex-direction: column;
  z-index: 10;
}

header {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
  background: #321b1b;
}

.giveaway {
  display: flex;
  background: #a75110;
  height: 31px;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 12px 0;
  max-width: 1200px;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  line-height: 18px;
  padding: 13px 28px;
  font-size: 16px;
  cursor: pointer;
}

.link.active {
  border-radius: 100px;
  background: #a75110;
}

.hamburger-menu-icon {
  color: white;
  height: 35px;
  display: none;
}

.drop-down {
  overflow: hidden;
  transition: all 0.25s ease;
  height: 0;
  width: 100%;
  background: #321b1b;
}

.drop-down.active {
  height: 168px;
}

.drop-down-links {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.drop-down-link {
  display: flex;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 18px 7.5%;
  font-size: 16px;
  border-bottom: 1px solid #4a2b2b;
  cursor: pointer;
}

.page-container {
  display: block;
  width: 60%;
  margin: auto;
  max-width: 1200px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  padding-top: 116px;
}

.header-text {
  margin: 0 40px 0 0;
}

.header-title {
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 18px;
  line-height: 45px;
}

.header-desc {
  color: #a75110;
  font-size: 26px;
  line-height: 35px;
}

.header-img {
  object-fit: contain;
  width: 100%;
  max-width: 461px;
}

.main-container {
  display: flex;
  align-items: center;
  width: 60%;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex: 1;
}

.section-title {
  color: white;
  font-weight: bold;
}

.section-desc {
  color: #a75110;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 50px 0;
  max-width: 1200px;
}

.logo {
  width: 117px;
  height: 34px;
  margin-bottom: 20px;
}

.copyright {
  font-size: 13px;
  color: white;
  line-height: 16px;
}

.links-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: #887070;
  margin-bottom: 10px;
}

.footer-text {
  text-decoration: none;
  color: #887070;
  margin-bottom: 10px;
  width: 400px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.modal-background {
  background: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-container {
  border-radius: 25px;
  border: 2px solid #4b2b2b;
  background: #211212;
  width: 85%;
  max-width: 980px;
  padding: 43px;
  z-index: 10;
}
.modal-title {
  color: white;
  font-size: 20px;
}

.buttons {
  display: flex;
  align-items: center;
}

.modal-logo-button {
  font-family: "proxima";
  font-weight: bold;
  border: none;
  border-radius: 100px;
  color: white;
  margin-right: 8px;
  background: #4a2b2b;
  min-width: 160px;
  min-height: 52px;
  background-size: 120px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-close-button {
  font-family: "proxima";
  font-weight: bold;
  border: none;
  border-radius: 100px;
  padding: 18px 25px;
  color: white;
  margin-right: 8px;
  background: #4a2b2b;
  cursor: pointer;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.info {
  color: white;
  font-size: 14px;
  line-height: 20px;
  flex: 1;
  overflow: auto;
  max-height: 400px;
}

.info > ul {
  padding-left: 15px;
  margin-bottom: 20px;
}

.info > p {
  margin-bottom: 20px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1235px) {
  .nav-container {
    width: 85%;
    padding: 12px 0;
  }

  .links {
    display: none;
  }

  .hamburger-menu-icon {
    display: flex;
  }

  .page-container {
    width: 85%;
    padding: 0;
  }

  .header-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .header-text {
    margin: 0;
  }

  .header-title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: normal;
  }

  .header-desc {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 0;
    line-height: normal;
  }

  .header-img {
    margin-bottom: 30px;
  }

  .section-header {
    flex-direction: column;
  }

  .section-desc {
    text-align: center;
  }

  .footer-container {
    flex-wrap: wrap;
    width: 80%;
  }

  .logo-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: none;
  }

  .footer-links-container {
    margin: 0 10px;
    flex: 1;
  }

  .footer-text {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .giveaway > h4 {
    font-size: 11px;
    text-align: center;
  }

  .header-container {
    margin-bottom: 60px;
  }

  .header-title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .header-desc {
    font-size: 14px;
  }

  .section-title {
    font-size: 22px;
  }

  .section-desc {
    font-size: 14px;
  }

  .top-row {
    flex-direction: column;
  }

  .modal-title {
    margin-bottom: 10px;
  }

  .modal-close-button {
    padding: 8px 14px;
    font-size: 12px;
  }

  .modal-logo-button {
    padding: 8px 14px;
    font-size: 12px;
  }
}
